# @vx/INFO: Add files here to ignore them from @vx/ws handling

.vezham
vx/bin

#  --- END of @vx/fe-kit-config ---

**/.temp
**/.next
**/.swc
**/.turbo
**/.cache
**/.build
**/.vercel
**/dist
**/build
**/storybook-static
.rollup.cache
.rollup.cache/**
**/node_modules/
**/public/*
pnpm-lock.yaml
**/.contentlayer/
**/.source/**
**/coverage
**/__snapshots__
**/.DS_Store
**/.changeset
**/*.md
**/*.mdx
!public/manifest.json
!.vscode
!scripts
!.*.js
!.*.cjs
!.*.mjs
!.*.ts
!contentlayer.config.ts
!next-sitemap.config.ts
